@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Lexend&display=swap');

.aboutMain {
    max-height: calc(100vh - 8vmin);
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.aboutContainer {
    height: 98%;
    width: 49%;
    /* background-color: palegoldenrod; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    gap: 4vmin;
    align-items: center;
}

.interestsContainer {
    max-height: 98%;
    width: 49%;
    /* background-color: paleturquoise; */
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
    overflow-y: auto;
}

.aboutP {
    font-size: 2vmin;
    font-family: Lexend;
    color: #302849;
    width: 45vmin;
    margin: 0;
}

.photoContainer {
    height: 20vmin;
    width: 20vmin;
    border-radius: 50%;
    background-color: #302849;
    border: 0.25vmin solid black;
}

.interestsHeading {
    color: #302849;
    font-family: Lexend;
    margin: 0;
}

.interestP {
    color: #302849;
    font-family: Lexend;
    font-size: 2vmin;
    margin: 0;
    width: 45vmin;
}

.interestContainer {
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
    gap: 2vmin;
    min-height: 10vmin;
    width: 50vmin;
}

.interestImages {
    height: 80%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#interestImgMusic {
    height: 30vmin;
    width: 24vmin;
    padding: 0;
    background-image: url("https://i.ibb.co/fdnHzZy/IMG-2407.jpg");
    background-size: cover;
    background-position: center;
}

#interestImgNature {
    height: 30vmin;
    width: 24vmin;
    padding: 0;
    background-image: url("https://i.ibb.co/Yh6Y7vH/IMG-1173.jpg");
    background-size: cover;
    background-position: center;
}

#interestImgFootball {
    height: 30vmin;
    width: 24vmin;
    padding: 0;
    background-image: url("https://i.ibb.co/34zYyrM/IMG-1625.jpg");
    background-size: cover;
    background-position: center;
}

#interestImgTravel {
    height: 30vmin;
    width: 24vmin;
    padding: 0;
    background-image: url("https://i.ibb.co/hLrMtVc/IMG-2434.jpg");
    background-size: cover;
    background-position: center;
}

.interestAndImg {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}