@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


#projectCard {
    min-height: 75vmin;
    width: 72vmin;
    border-top: .2vw solid lightgray;
    border-right: .2vw solid lightgray;
    border-left: .2vw solid lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    border-radius: 1vmin;
}

#extraCard {
    width: 72vmin;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: .2vw solid lightgray;
    border-bottom: .2vw solid lightgray;
    border-left: .2vw solid lightgray;
    background-color: #282928;
    border-radius: 0 0 1vmin 1vmin;
    margin-top: -2vmin;
    font-family: Montserrat;
    font-size: 1.25vw;
    color: #F0ECE5; 
}

.projectTitle {
    color: #F0ECE5;
    font-family: Montserrat;
    border-bottom: .1vw solid transparent;
    margin: 0;
    font-size: 2vw;
    position: absolute;
    top: -8vh;
    left: 50%;
    transform: translateX(-50%);
}

.projectTitle:hover {
    border-bottom: .1vw solid #F0ECE5;
    transition: ease 0.3s;
}

.readMe {
    color: #F0ECE5;
    font-family: Montserrat;
    font-size: 1vw;
    position: absolute;
    top: -5vh;
    right: 2vmin;
    border-bottom: .1vw solid transparent;
    text-decoration: none;
    margin: 0;
}

.readMe:hover {
    border-bottom: .1vw solid #F0ECE5;
    transition: ease 0.3s;
}

#projectDropDown {
    font-size: 3vw;
    color: lightgray;
}

#projectDropDownUp {
    font-size: 3vw;
    color: lightgray;
}

#projectDropDown:hover {
    color: gray;
}

#projectDropDownUp:hover {
    color: gray;
}

@media screen and (max-width: 768px) {
    #projectCard {
        border: 0.75vw solid lightgray;
        min-height: 87vmin;
        width: 84vmin;
    }

    #extraCard {
        border-right: 0.75vmin solid lightgray;
        border-bottom: 0.75vmin solid lightgray;
        border-left: 0.75vmin solid lightgray;
        width: 84vw;
        font-size: 3.5vw;
    }

    .projectTitle {
        font-size: 5vw;
    }

    .readMe {
    font-size: 3.5vw;
    }
    
    #projectDropDown,
    #projectDropDownUp {
        font-size: 6vw;
    }
}