@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

.navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    min-height: 8vmin;
    max-height: 8vmin;
}

.navBar {
    display: flex;
    gap: 8vmin;
}

#navLeft {
    margin-left: 4vmin;
}

#navRight {
    margin-right: 4vmin;
}

#link {
    color: white;
    font-size: 2vmin;
    font-family: Kanit;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logoLink {
    color: white;
    font-size: 2vmin;
    font-family: Kanit;
}

#link.activeLink {
    color: #302849;
}

#menuBtn {
    padding: 0;
    color: white;
    font-size: 2vmin;
    display: flex;
    align-items: center;
}

#menuBtn:hover {
    background-color: transparent;
}

#menuItem {
    cursor: default;
    pointer-events: none;
    color: #302849;
    font-size: 1.5vmin;
    font-family: Lexend;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vmin;
}

#menuItem:hover {
    background-color: transparent;
}

#menu {
    border: 0.5vmin solid #302849;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menuIcon {
    font-size: 5vmin;
    background-color: white;
    color: #302849;
}

#menuIcon2 {
    font-size: 4vmin;
    background-color: white;
    color: #302849;
}

#menuReactIcon {
    font-size: 3vmin;
    background-color: white;
    color: #302849;
}