@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


#projectsMain {
    /* height: 100vh;
    width: 100vw; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
}

.projectsContainer {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20vh;
    margin: 4vh 0 4vh 0;
}

.projectsTitle {
    font-family: Montserrat;
    font-size: 2vw;
    color: #F0ECE5;
    margin-bottom: 15vh;
}

@media screen and (max-width: 768px) {
    .projectsContainer {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-top: 4vh;
        margin-bottom: 4vh;
    }

    #projectsMain {
        height: auto;
        width: auto;
        justify-content: flex-start;
        margin-top: 0;
    }

    .projectsTitle {
        margin: 12vh 0 10vh 0;
        font-size: 3.5vw;
    }
}