@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Lexend&display=swap');

.app {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
}

.main {
  height: 100vh;
  /* width: 100vw; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.titleContainer {
  font-family: Lexend;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 20vmin;
  /* gap: 2vmin; */
}

.mainTitle {
  margin: 0;
  color: #F0ECE5;
  font-size: 8vmin;
  /* font-size: 4.5vw; */

}

.titleSpan {
  font-size: 6vmin;
  /* font-size: 3.25vw; */
  color: #F0ECE5;
  margin-left: .25vw;
  margin-right: .25vw;
}

.titleP {
  font-size: 2vmin;
  /* font-size: 1.25vw; */
  margin: 0;
  color: tomato;
}

.iconsContainer {
  color: #F0ECE5;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
}

#icon {
  font-size: 8vmin;
}

#expandedIcon {
  font-size: 3vmin;
}

.iconCircle {
  border-radius: 50%;
  height: 12vmin;
  width: 12vmin;
  background-color: tomato;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconCircle:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}

.socialLink {
  text-decoration: none;
  color: inherit;
}

.emailContainer {
  width: 12vmin;
  height: 12vmin;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: tomato;
  border-radius: 50%;
}

.emailContainer:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}

.expandedEmailContainer {
  width: 36vmin;
  height: 12vmin;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: tomato;
  border-radius: 12vmin; 
}

.emailP {
  color: #F0ECE5;
  font-family: Kanit;
  font-size: 2vmin;
  margin: 0;
}

#copyIcon {
  color: lightgray;
  font-size: 2vmin;
}

#copyIcon:hover {
  color: gray;
}

.copiedAlert {
  position: absolute;
  top: 60vmin;
  color: lightgray;
  font-size: 1.5vmin;
  font-family: Lexend;
}

.pContainer {
  position:absolute;
  bottom: 0vmin;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25vmin;
  color: #F0ECE5;
  font-family: Lexend;
  font-size: 1.5vmin;
}

#reactIcon {
  font-size: 2vmin;
}

@media screen and (max-width: 768px) {
  .iconsContainer {
    width: 100%;
  }

  .iconCircle,
  .emailContainer {
    height: 15vmin;
    width: 15vmin;
  }

  #icon {
    font-size: 10vmin;
  }

  .pContainer {
    font-size: 2vmin;
    gap: 0.5vmin;
  }

  #reactIcon {
    font-size: 2.5vmin;
  }

  .titleP {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5vh;
  }

  .titleContainer {
    gap: 2vh;
  }

  .mainTitle {
    font-size: 12vmin;
  }

  .titleSpan {
    font-size: 8vmin;
  }

  .titleP {
    font-size: 3vmin;
  }
}